* {
	padding: 0;
	border: 0;
	box-sizing: border-box;
	background-color: #000000;
	color: #ffffff;
}

.header {
text-align: center;
padding: 30px;
}

.header h2 {
font-size: 46px;
font-weight: bold;
}

.search {
width: 20wv;
font-size: 14px;
padding: 2px 10px;
text-align: center;
border-radius: 5px;
background-color: #282828;
margin: 30px;
}

.search:focus {
outline: 0;
}

.types-menu {
display: grid;
grid-template-columns: repeat(10, auto);
margin: auto;
width: 70%;
}

.types-menu a {
color: white;
margin: 0 10px;
font-size: 14px;
}

.content {
width: 80%;
height: 60vh;
background-color: red;
margin: auto;
overflow-y: scroll;
}

.content::-webkit-scrollbar { /* WebKit */
	width: 0;
	height: 0;
}

.pokemon-container {
display: grid;
grid-template-columns: auto auto auto;
padding: 10px;
border: 5px;
}

.pokemon-card {
background-color: #282828;
color: white;
font-size: 18px;
margin: 1vw;
border-radius: 5px;
outline: none;
padding: 20px;
text-align: center;
transition: all 0.8s ease;
}

.pokemon-card:hover {
text-decoration: none;
color: #000;
}
